* {
    box-sizing: border-box;
    margin: 0;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
}

#popup {
    border: .0625rem solid black;
    background-color: white;
    padding: .625rem;
    text-align: center;
    display: none;
    position: absolute;
    height: max-content;
    z-index: 3;

    h2 {
        margin: 0rem .625rem .625rem .625rem;
    }

    form {
        fieldset {
            text-align: left;
        }

        #inputs {
            margin-bottom: .625rem;
            border: none;
        }

        #read-stats {
            padding: .625rem;
        }

        button {
            margin-top: .625rem;
            background-color: black;
            border-radius: .625rem;
            border: none;
            color: white;
            padding: .625rem;
        }
    }
}

#container {
    width: 30%;
    height: 30%;

    main {
        border: .0625rem solid black;
        padding: .625rem;
        height: 100%;
        display: grid;
        grid-template-rows: 1fr 5fr;
        gap: .625rem;

        header {
            text-align: center;
            position: sticky;
            border: .0625rem solid black;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #book-list {
            border: .0625rem solid black;
            overflow: scroll;
            padding: .625rem;
            display: flex;
            flex-direction: column;
            gap: .625rem;

            .book-item {
                border: .0625rem solid black;
                padding: .625rem;
                display: grid;
                grid-template-columns: 1fr 3fr 1fr;

                div span:first-child, label {
                    font-weight: bold;
                    margin-right: .625rem;
                }
            }
        }
    }

    #add {
        text-align: center;
        padding: .625rem;

        button {
            background-color: black;
            border: none;
            color: white;
            border-radius: .625rem;
            padding: .625rem;
        }
    }
}

